# Dataset

KC Crime Datasets from 2014-2018

https://data.kcmo.org/Crime/KCPD-Crime-Data-2015/kbzx-7ehe

In [23]:
import pandas as pd
import io
import requests

# 2014 Dataset 
url="https://data.kcmo.org/resource/nsn9-g8a4.csv"
s=requests.get(url).content
df_2014=pd.read_csv(io.StringIO(s.decode('utf-8')))

# 2015 Dataset 
url="https://data.kcmo.org/resource/geta-wrqs.csv"
s=requests.get(url).content
df_2015=pd.read_csv(io.StringIO(s.decode('utf-8')))


# 2016 Dataset  
url="https://data.kcmo.org/resource/c6e8-258d.csv"
s=requests.get(url).content
df_2016=pd.read_csv(io.StringIO(s.decode('utf-8')))

# 2017 Dataset 
url="https://data.kcmo.org/resource/wy8a-bydn.csv"
s=requests.get(url).content
df_2017=pd.read_csv(io.StringIO(s.decode('utf-8')))

# 2018 Dataset 
url="https://data.kcmo.org/resource/nyg5-tzkz.csv"
s=requests.get(url).content
df_2018=pd.read_csv(io.StringIO(s.decode('utf-8')))

df_2014['Year'] = '2014'
df_2015['Year'] = '2015'
df_2016['Year'] = '2016'
df_2017['Year'] = '2017'
df_2018['Year'] = '2018'

In [24]:
df_2014.head()

   :@computed_region_9t2m_phkm  :@computed_region_kk66_ngf4  :@computed_region_my34_vmp8  :@computed_region_w4hf_t6bp address  age_1 area_1  beat city           description  ...  race_1 rep_dist_1  report_no            reported_date reported_time  sex_1 to_date to_time zip_code_1  Year
0                          NaN                          NaN                          NaN                          NaN     NaN   17.0    NaN   NaN  NaN    Strong Arm Robbery  ...       B        NaN  140043299  2014-07-08T00:00:00.000         17:15      F     NaN     NaN        NaN  2014
1                          NaN                          NaN                          NaN                          NaN     NaN   18.0    NaN   NaN  NaN    Strong Arm Robbery  ...       B        NaN  140043299  2014-07-08T00:00:00.000         17:15      F     NaN     NaN        NaN  2014
2                          NaN                          NaN                          NaN                          NaN     NaN   18.0    NaN   NaN  NaN    Strong Arm Robbery  ...       B        NaN  140043299  2014-07-08T00:00:00.000         17:15      F     NaN     NaN        NaN  2014
3                          NaN                          NaN                          NaN                          NaN     NaN   19.0    NaN   NaN  NaN    Strong Arm Robbery  ...       B        NaN  140043299  2014-07-08T00:00:00.000         17:15      F     NaN     NaN        NaN  2014
4                          NaN                          NaN                          NaN                          NaN     NaN   20.0    NaN   NaN  NaN  Burglary - Residence  ...       B        NaN  140038847  2014-06-12T00:00:00.000         16:18      F     NaN     NaN        NaN  2014

[5 rows x 33 columns]

In [18]:
df_2018.head()

,:@computed_region_9t2m_phkm,:@computed_region_kk66_ngf4,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,address,age,area,beat,city,description,...,race,rep_dist,report_no,reported_date,reported_time,sex,to_date,to_time,zip_code,Year
0,NaN,NaN,NaN,NaN,4000 MILL ST,NaN,CPD,133.0,KANSAS CITY,Forgery,...,NaN,PJ3255,180007664,2018-01-31T00:00:00.000,17:22,NaN,2018-01-31T00:00:00.000,15:45,54111,2018
1,3.0,13.0,7.0,157.0,4300 PROSPECT AV,NaN,EPD,334.0,KANSAS CITY,Sex Off Fondle - mol,...,W,PJ3505,180007431,2018-01-30T00:00:00.000,19:00,F,2018-01-30T00:00:00.000,19:00,64130,2018
2,2.0,98.0,7.0,163.0,7100 HIGHLAND AV,66.0,MPD,232.0,KANSAS CITY,Burglary - Residence,...,B,PJ5421,180007426,2018-01-30T00:00:00.000,17:41,M,2018-01-30T00:00:00.000,17:41,64134,2018
3,NaN,NaN,NaN,NaN,8300 E 103 TE,28.0,SPD,545.0,KANSAS CITY,Non Agg Assault Dome,...,B,PJ6799,180023984,2018-03-31T00:00:00.000,15:08,M,NaN,NaN,64134,2018
4,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,Auto Theft,...,W,NaN,170103846,2018-03-09T00:00:00.000,10:46,F,NaN,NaN,99999,2018

In [ ]:
df = df_2014
df.append(df_2015)
df.append(df_2016)
df.append(df_2017)
df.append(df_2018)
pd.options.display.max_columns = 999
df.head()

## No unique row per report
Each report has multiple offenses and involved parties (like Suspect, Victim etc..)